.popup-label {
    -fx-font-size: 14px;
}

.popup-text-field {
    -fx-font-size: 14px;
    -fx-pref-height: 30px;
}

.popup-date-picker {
    -fx-font-size: 14px;
    -fx-pref-height: 30px;
}

.popup-button {
    -fx-font-size: 16px;
    -fx-pref-width: 100px;
    -fx-pref-height: 35px;
}

.popup-grid {
    -fx-padding: 15px;
    -fx-hgap: 18px;
    -fx-vgap: 22px;
}
